/* IMPORTS */


/* VARIABLES */
a:link, a:visited, a:active {
    text-decoration:none;
}

$color-black: #1B1B1E;

$color-white: #FFFCF9;

$color-red: #CC2936;

$background-red: #CC2936;

$color-pink:#ffa6a6;

/*CONDICIONAL*/

$color-black: #1B1B1E;
p {
    @if $color-black == #1B1B1E {color: #FFFCF9;}
    @else {color: gray}  
}

/*BLOQUES*/

body {
    background-color:#1B1B1E;
    color: #FFFCF9;
    font-family: 'Lato';
}

a {
    color: #FFFCF9;

}

a:visited {
    color: #ffa6a6;
}

main {
    width: 100%;
}

.border {
    border: solid 1px #FFFCF9;
    padding: 10px;
}


/* NAVBAR */
.navbar {
    position: fixed;
    }

.nav-item:hover {
    transform: scale(1.1);
    transition: .3s;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffa6a6;
}

.nav-link.active {
    color: white;
} 

/* END NAVBAR */

.main-container {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
    
.inicio {
    /* display: flex;
    width: 100%;
    align-items: space-around; */
}

h1 {
    font-size: 100px;
}

.grid {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    flex-direction: column;
    
    .grid__card {
        border: solid 1px blanchedalmond;
        border-radius: 10px;
        width: 300px;
        padding: 5px;
               
        .grid__card-image {
            width: 100%;
            border-radius: 10px;
        } 
    }
    
}


.recomended {
    margin: 10px 0;
    padding: 5px+1;
    .recomended__title {
        
    }

    .recomended__image {

    }

    .recomended__movie-title {

    }
}

.publicidad {
    margin: 10px 0;
   
}



.main-block {
    display: block;
    justify-content: center;
    flex-direction: column;
    
}

.hero {
    background-image: linear-gradient(to bottom right, white, #FFA6A6);
    padding: 30px 0;
}
.navbar {
    text-align: center;
    background: $color-black;
    width: 100%;
    .navbar-brand{
        max-width: 80px;
    }
}

.titulo {
    font-size: 15vw;
    font-weight: 900;
    padding: 180px 0 120px 0;
    text-align: center;
}

.subtitulo {
    font-size: 4vw;
    text-align: center;
    padding: 0 0 90px 0;

}

h3 {
    margin: 10px 0;
}

h2 {
    font-size: 4vw;
    margin: 20px 0 10px 0;

}

.post {
    margin: 30px 0;

    .post__film-title {
        color: $color-pink;
        font-weight: 500;
        font-size: 18px;
    }

    .post__resume{
        max-width: 700px;
        margin: 10px 0;

    }

    .post__img-post {
        border-radius: 10px;
        max-width: 700px;
    }
}

.contact-item {
    margin: 10px 5px 10px 0;
}


/* FOOTER*/

.footer {

    .footer__redes {
        display: flex;
        background-color: #ffa6a6;
        color: #1b1b1e;
        padding: 20px;
        justify-content: center;
        margin: 50px 0;
        .rrss {
            max-width: 30px;
            margin: 0 30px;
        }
        
        
    }
}

/* END FOOTER*/


/*CONDICIONAL*/




/* Media Tablet */
@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

}

/* Media Desktop */
@media (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

}


